.divBanner{
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
  height: 250px;
  margin: 20px 20px;
}

.divBanner1{
  background-color: rgb(11, 89, 141);
}

.divBanner2{
  background-color: rgb(20, 6, 214);
  
}

.divTitle{
  width: 100%;
  height: 110px;
}

.divBtn{
  margin-right: 10px;
  margin-left: 10px;
  display: inline-flex;
  
  
}

.btnMenu{
  margin: 10px 10px;
  
  width: 100%;

  background-color: #4CAF50; /* Green */
  border-radius: 0px;
  
  border-width: 8px;
  color: white;
  padding: 40px 33px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
} 

.btnMenu1{
  background-color: #4CAF50;
  border-color: #155817;
}

.btnMenu2{
  background-color: #f13a3a;
  border-color: #7e1414;
}


p {
  border-bottom: 1px dashed #ddd
}

#pictureUrl {
  display: block;
  margin: 0 auto;
  width: 12%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}

html{
  font-family: Arial, Helvetica, sans-serif;
}