.divTitle{
  width: 100%;
  height: 110px;
}

.divBtn{
  margin-right: auto;
  margin-left: auto;
 
  
}

.btnMenu{
  margin: 10px 0px;
  padding: 30px 0px;
  width: 100%;
} 

p {
  border-bottom: 1px dashed #ddd
}

#pictureUrl {
  display: block;
  margin: 0 auto;
  width: 12%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -moz-box-pack: center;
  -moz-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  box-pack: center;
  box-align: center;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}

html{
  font-family: Arial, Helvetica, sans-serif;
}